.mainHeader {
    height: 10%;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

  .title {
    font-size: 3vw;
    padding: 10px;
    color: #fff;
  }

  .btnReset {
    position: absolute;
    left: 1%;
    top: 13%;
  }